# Enable secure cert manager
CONFIG_ESP_SECURE_CERT_SUPPORT_LEGACY_FORMATS=n

# Enable OTA data partition
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# Default OTA mode - Use Unallocated Space
CONFIG_EXAMPLE_ESP_SECURE_CERT_OTA_USE_UNALLOCATED_SPACE=y

# OTA timeout
CONFIG_EXAMPLE_OTA_RECV_TIMEOUT=5000
