menu "Test Apps Configuration"

    config TEST_ESP_SECURE_CERT_TLV_LEGACY
        bool "Test TLV and legacy format operations"
        default n
        help
            Enable this option to test the TLV and legacy format operations

    config TEST_ESP_SECURE_CERT_CRYPTO
        bool "Test cryptographic operations"
        default n
        help
            Enable this option to test the cryptographic operations

    config TEST_ESP_SECURE_CERT_BASICS
        bool "Test basic operations"
        default n
        help
            Enable this option to test the basic operations

    config UNITY_FREERTOS_STACK_SIZE
        int "Stack size for the test task"
        default 8192
        help
            Set the stack size for the test task

endmenu
