# Legacy Format Configuration for CI Testing
CONFIG_ESP_SECURE_CERT_SUPPORT_LEGACY_FORMATS=y
CONFIG_ESP_SECURE_CERT_DS_PERIPHERAL=n

CONFIG_TEST_APP_ESP_SECURE_CERT_TLV=y

CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
