CONFIG_ESP_SECURE_CERT_SUPPORT_LEGACY_FORMATS=n
CONFIG_ESP_SECURE_CERT_DS_PERIPHERAL=n
CONFIG_TEST_ESP_SECURE_CERT_SECURE_VERIFICATION=y
CONFIG_ESP_SECURE_CERT_SECURE_VERIFICATION=y
CONFIG_SECURE_BOOT=y
CONFIG_SECURE_BOOT_SIGNING_KEY="qemu_test/secure_verification/secure_boot.key"
CONFIG_SECURE_BOOT_FLASH_BOOTLOADER_DEFAULT=y
CONFIG_SECURE_BOOT_INSECURE=y
CONFIG_SECURE_BOOT_ALLOW_UNUSED_DIGEST_SLOTS=y
# Disable flash encryption temporarily for key burning
CONFIG_SECURE_FLASH_ENC_ENABLED=y
CONFIG_NVS_ENCRYPTION=n
CONFIG_SECURE_BOOT_V2_ALLOW_EFUSE_RD_DIS=n
CONFIG_SECURE_INSECURE_ALLOW_DL_MODE=y
CONFIG_SECURE_BOOT_V2_RSA_ENABLED=y
