CONFIG_EXAMPLE_ESP_SECURE_CERT_ENABLE_CI=y
CONFIG_ESP_SECURE_CERT_SUPPORT_LEGACY_FORMATS=n
CONFIG_ESP_SECURE_CERT_DS_PERIPHERAL=n
CONFIG_SECURE_BOOT_SIGNING_KEY="../../test_apps/qemu_test/secure_verification/secure_boot.key"
